body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

h1, h2{
  color: rgb(123, 70, 70);
  padding: 28px;
  margin-top: 0px;
}

.cookies-container{
  background: rgb(234, 230, 230);
  text-align: center;
}

.cookies-pic-container{
  background: rgb(234, 230, 230);
  text-align: center;

}

.description-container{
  background: rgb(234, 230, 230);
}

.ingredients-container{
  background: rgb(234, 230, 230);
}

.steps-container{
  background: rgb(234, 230, 230);
}